header {
  background-color: var(--background-tertiary-color);
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.logo__mobile {
  display: block;
}

.logo__desktop {
  display: none;
}

.navegacao__menu {
  margin-top: 24px;
  width: 467px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none;
}

.lista__links {
  list-style: none;
}

.lista__links li {
  margin-bottom: 16px;
}

.lista__links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}

@media (min-width: 768px) {
  .navegacao__menu {
    margin-top: 0;
  }
  .navegacao__menu label {
    display: none;
  }
  .navegacao__menu nav {
    display: block;
  }
  .navegacao__menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .navegacao__menu li {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 38px 120px;
  }
  .logo {
    width: 260px;
    height: 64px;
  }
  .img__desktop {
    display: block;
  }
  .img__mobile {
    display: none;
  }
  .navegacao__menu a:hover {
    color: var(--text-primary-color);
  }
}

@media (min-width: 1920px) {
  header {
    padding: 38px 160px;
  }
}
