.hero__img {
  height: 400px;
  width: 100%;
  background: url("../img/banner_hero_smarthphone.jpg") no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero__img {
    height: 620px;
    background: url("../img/banner_hero_tablet.jpg") no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero__img {
    height: 620px;
    background: url("../img/banner_hero_desktop.jpg") no-repeat;
    background-size: cover;
  }
}
