.offers__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.offers__cards .card {
  color: var(--text-secondary-color);
  background-color: black;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}
.offers__cards .card header {
  margin-bottom: 24px;
}

.offers__cards .card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.offers__cards .card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}

.offers__cards .card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}

.card.japao {
  background: url("../img/background_card_japao.jpg") no-repeat;
  background-size: cover;
}

.card.sanandreas {
  background: url("../img/background_card_sanandreas.jpg") no-repeat;
  background-size: cover;
}

.card.paraiba {
  background: url("../img/background_card_paraiba.jpg") no-repeat;
  background-size: cover;
}

.card.manaus {
  background: url("../img/background_card_manaus.jpg") no-repeat;
  background-size: cover;
}

.offers {
  margin-bottom: 104px;
}

@media screen and (min-width: 768px) {
  .offers__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .offers__cards .card {
    width: 420px;
    height: 308px;
  }
  .offers__cards .card header h3 {
    font-size: 48px;
  }

  .offers__cards .card header span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .offers__cards .card {
    width: 588px;
  }
}

@media screen and (min-width: 19200px) {
  .offers__cards {
    width: 1250px;
    margin: 0 auto;
  }
}
